<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name= "Integration Testing" >
  
   <listeners>
      
        <listener class-name="utils.TestListener"/>
		       
    </listeners> 
    
    <test name ="Functional Test">
        <classes>
		<class name ="tests.PostOpenNewTabTest"></class>
		<class name ="tests.DisablePostCommentTest"></class>
		<class name ="tests.DeletePostTest"></class>
		<class name ="tests.HidePostTest"></class>
		<class name ="tests.SavedPostTest"></class>
		<class name ="tests.BlogTest"></class>
		<class name ="tests.SearchBarTest"></class>
		<class name ="tests.AlbumsTest"></class>
		<class name ="tests.MessageNotificationTest"></class>
		<class name ="tests.FriendRequestNotificationTest"></class>

		</classes>
    </test>

</suite> <!-- Suite -->
